exclude test/*.py
include requirements.txt
recursive-include pygame_menu/resources/fonts *.ttf
recursive-include pygame_menu/resources/images *.jpg
recursive-include pygame_menu/resources/images *.png
recursive-include pygame_menu/resources/sounds *.ogg