exclude *.bat
exclude *.yml
exclude .github/ISSUE_TEMPLATE/*
exclude .gitignore
exclude .replit
exclude docs/*
exclude docs/_source/*
exclude docs/_static/*
exclude pygame_menu/examples/other/_test*
exclude test/*.py

include requirements.txt
include pygame_menu/py.typed

recursive-include pygame_menu/resources/fonts *.ttf
recursive-include pygame_menu/resources/fonts *.txt
recursive-include pygame_menu/resources/images *.jpg
recursive-include pygame_menu/resources/images *.png
recursive-include pygame_menu/resources/images *.svg
recursive-include pygame_menu/resources/sounds *.ogg